<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{(term$ | async)?.translation}}</ion-title>
    <ion-buttons slot="end">
      <ng-container *ngIf="term$ | async as term">
        <ion-button (click)="editTerm(term)">Edit</ion-button>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="term$ | async as term; else loading">

    <div class="ion-padding term__header section">
      <div>
        <ng-container [ngSwitch]="term.type">
          <ion-badge color="primary" *ngSwitchCase="'name'">{{term.type}}</ion-badge>
          <ion-badge color="secondary" *ngSwitchCase="'verb'">{{term.type}}</ion-badge>
          <ion-badge color="tertiary" *ngSwitchCase="'preposition'">{{term.type}}</ion-badge>
          <ion-badge color="warning" *ngSwitchCase="'adverb'">{{term.type}}</ion-badge>
          <ion-badge color="medium" *ngSwitchCase="'expression'">{{term.type}}</ion-badge>
        </ng-container>
      </div>
      
      <div class="term__translation">
        <span *ngIf="term.type === 'name' && term.gender && term.gender !== genderEnum.None">{{term.gender}}</span> {{term.translation}}
      </div>
      <div class="term__plural" *ngIf="term.type === 'name' && term.plural">Plural: Die {{term.plural}}</div>
      <div class="term__value">Translation: {{term.value}}</div>
    </div>

    <ng-container *ngIf="term.type === 'verb'">
      <div class="ion-padding-horizontal section">
        <p><b>{{term.translation}}</b> is {{ term.verbType === 'regular' ? 'a regular' : 'an irregular' }} verb.</p>
      </div>

      <div class="ion-padding-vertical term__conjugation section">
        <div class="ion-padding-horizontal">
          <div class="section__title">Conjugation</div>
        </div>
        <ion-list lines="full">

          <ion-item *ngIf="term.conjugation.auxiliary">
            <ion-label class="ion-text-wrap"><ion-text color="medium">Auxiliary</ion-text><br>{{term.conjugation.auxiliary}}</ion-label>
          </ion-item>
          <ion-item *ngIf="term.conjugation.presentParticiple">
            <ion-label class="ion-text-wrap"><ion-text color="medium">Present participle</ion-text><br>{{term.conjugation.presentParticiple}}</ion-label>
          </ion-item>
          <ion-item *ngIf="term.conjugation.pastParticiple">
            <ion-label class="ion-text-wrap"><ion-text color="medium">Past participle</ion-text><br>{{term.conjugation.pastParticiple}}</ion-label>
          </ion-item>
          
        </ion-list>
      </div>
    </ng-container>

    <div class="ion-padding term__examples section" *ngIf="term.examples && term.examples.length > 0">
      <div class="section__title">Examples</div>

      <ul class="examples-list">
        <li *ngFor="let example of term.examples">{{ example }}</li>
      </ul>
    </div>
    
  </ng-container>

  <ng-template #loading>
    <div class="ion-padding ion-text-center">
      <ion-spinner name="crescent"></ion-spinner>
    </div>
  </ng-template>

</ion-content>
