/* Set variables for all modes */
:root {
  /* Set the font family of the entire app */
  --ion-font-family: var(--ion-font-roboto);
  --ion-font-roboto: "Roboto", -apple-system, BlinkMacSystemFont, sans-serif;
  --ion-font-montserrat: "Montserrat", -apple-system, BlinkMacSystemFont, sans-serif;

  /* Typography */
  h1,
  h2,
  h3,
  ion-title {
    font-family: var(--ion-font-montserrat);
    font-weight: 700;
  }

  /* Buttons */
  ion-button {
    font-family: var(--ion-font-montserrat);
  }

  /* headers */
  ion-header {
    // ion-toolbar:first-child {
    //   --min-height: 70px;
    //   align-items: flex-end;

    //   ion-title {
    //     font-size: 32px;
    //     padding-inline-start: 16px;
    //     padding-inline-end: 16px;
    //     text-align: left;
    //     position: relative;
    //     align-self:flex-end;
    //   }
    // }
  }
}
