<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button color="danger" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Form</ion-title>
    <ion-buttons slot="primary">
      <ion-button type="submit" [disabled]="!newTermForm.valid" (click)="onSubmit()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newTermForm" (ngSubmit)="onSubmit()" ngxsForm="vocabulary.newTermForm" #form>
    <ion-list class="ion-no-padding ion-no-margin">
      <!-- TERM TYPE -->
      <ion-item lines="none">
        <ion-label>Type</ion-label>
        <ion-select [value]="newTermForm.controls.type.value" okText="Select" cancelText="Cancel" formControlName="type">
          <ng-container *ngFor="let termType of termTypesList">
            <ion-select-option [value]="termType">{{termType}}</ion-select-option>
          </ng-container>
        </ion-select>
      </ion-item>

      <!-- VERB TYPE - only if type is verb - required -->
      <ion-item  lines="none" *ngIf="!newTermForm.controls.conjugation.disabled">
        <ion-toolbar>
          <ion-segment formControlName="verbType">
            <ng-container *ngFor="let verbType of verbTypesList">
              <ion-segment-button [value]="verbType">
                <ion-label>{{verbType}}</ion-label>
              </ion-segment-button>
            </ng-container>
          </ion-segment>
        </ion-toolbar>
      </ion-item>
      
      <!-- TERM + TRANSLATION - required -->
      <ion-item-divider color="light">
        <ion-label>New {{newTermForm.controls.type.value}}</ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label position="stacked">
          {{newTermForm.controls.type.value | titlecase}}
          <ion-text color="danger">*</ion-text>
          <!-- Validator -->
          <ng-container *ngIf="value.invalid && (value.dirty || value.touched)">
            <ion-text class="ion-margin-start" color="danger" *ngIf="value.errors.required">
              <b>{{newTermForm.controls.type.value}}</b> is required
            </ion-text>
          </ng-container>
        </ion-label>
        <ion-input formControlName="value"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Translation
          <ion-text color="danger">*</ion-text>
          <!-- Validator -->
          <ng-container *ngIf="translation.invalid && (translation.dirty || translation.touched)">
            <ion-text class="ion-margin-start" color="danger" *ngIf="translation.errors.required">
              <b>translation</b> is required
            </ion-text>
          </ng-container>
        </ion-label>
        <ion-input formControlName="translation"></ion-input>
      </ion-item>

      <!-- GENDER - only if type is name -->
      <ion-item *ngIf="!newTermForm.controls.plural.disabled">
        <ion-label position="stacked">
          Plural
        </ion-label>
        <ion-input formControlName="plural"></ion-input>
      </ion-item>

      <ion-radio-group *ngIf="!newTermForm.controls.gender.disabled" formControlName="gender">
        <ion-item-divider color="light">
          <ion-label>Gender</ion-label>
          <ion-button slot="end" fill="clear" (click)="unsetGender()">none</ion-button>
        </ion-item-divider>
        <ng-container *ngFor="let gender of gendersList">
          <ion-item *ngIf="gender !== 'none'">
            <ion-label>{{gender}}</ion-label>
            <ion-radio [value]="gender"></ion-radio>
          </ion-item>
        </ng-container>
      </ion-radio-group>

      <!-- FOLLOWEDBY - only if type is preposition - required -->
      <ion-radio-group *ngIf="!newTermForm.controls.followedBy.disabled" formControlName="followedBy">
        <ion-item-divider color="light">
          <ion-label>
            Preposition followed by
            <ion-text color="danger">*</ion-text>
            <!-- Validator -->
            <ng-container *ngIf="followedBy.invalid && (followedBy.dirty || followedBy.touched)">
              <ion-text class="ion-margin-start" color="danger" *ngIf="followedBy.errors.required">
                <b>preposition type</b> is required
              </ion-text>
            </ng-container>
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let prepType of prepTypesList">
          <ion-label>{{prepType}}</ion-label>
          <ion-radio [value]="prepType"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- CONJUGATION - only if type is verb -->
    <ion-list formGroupName="conjugation" lines="full" class="ion-no-padding ion-no-margin" *ngIf="!newTermForm.controls.conjugation.disabled">
      <ion-item-divider color="light">
        <ion-label>Conjugation</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label position="stacked">Present participle</ion-label>
        <ion-input formControlName="presentParticiple"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Past participle</ion-label>
        <ion-input formControlName="pastParticiple"></ion-input>
      </ion-item>

      <ion-item-divider color="light">
        <ion-label>
          Auxiliary<ion-text color="danger">*</ion-text>
          <!-- Validator -->
          <ng-container *ngIf="auxiliary.invalid && (auxiliary.dirty || auxiliary.touched)">
            <ion-text class="ion-margin-start" color="danger" *ngIf="auxiliary.errors.required">
              <b>auxiliary</b> is required
            </ion-text>
          </ng-container>
        </ion-label>
      </ion-item-divider>
      <ion-radio-group formControlName="auxiliary">
        <ion-item *ngFor="let auxiliary of auxiliariesList">
          <ion-label>{{auxiliary}}</ion-label>
          <ion-radio [value]="auxiliary"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <!-- EXAMPLES -->
    <ion-list class="ion-no-padding ion-no-margin ion-margin-bottom" formArrayName="examples">

      <ion-item-divider color="light">
        <ion-label>Examples</ion-label>
        <ion-button slot="end" fill="clear" (click)="addExample()">
          <ion-icon name="add" slot="icon-only"></ion-icon> 
        </ion-button>
      </ion-item-divider>

      <ion-item-sliding *ngFor="let example of newTermForm.get('examples').controls; let i = index">
        <ion-item>
          <ion-input placeholder="Example" [formControlName]="i"></ion-input>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="removeExample(i)">
            <ion-icon slot="end" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <!-- <ion-button expand="full" class="ion-no-margin submit-button" type="submit" [disabled]="!newTermForm.valid">Save</ion-button> -->
  </form>
</ion-content>

