<ion-item-sliding>
  <ion-item class="vocab-item">

    <ion-label class="ion-text-wrap">
      <div class="vocab-item__translation"><span [innerHTML]="term.translation | highlight:search"></span> {{ term.gender ? '(' + term.gender + ')' : '' }}</div>
      <div class="vocab-item__term" [innerHTML]="term.value | highlight:search"></div>
    </ion-label>

    <span *ngIf="showDate" class="vocab-item__date">{{ term.createdDate | date:'dd/MM/yy' }}</span>
    <ng-container [ngSwitch]="term.type">
      <ion-badge color="primary" *ngSwitchCase="'name'">{{term.type}}</ion-badge>
      <ion-badge color="secondary" *ngSwitchCase="'verb'">{{term.type}}</ion-badge>
      <ion-badge color="tertiary" *ngSwitchCase="'preposition'">{{term.type}}</ion-badge>
      <ion-badge color="warning" *ngSwitchCase="'adverb'">{{term.type}}</ion-badge>
      <ion-badge color="medium" *ngSwitchCase="'expression'">{{term.type}}</ion-badge>
    </ng-container>

  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="delete(term.id); $event.stopPropagation()">
      <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>