.vocab-item {

  &__translation {
    font-size: 16px;

    .highlighted {
      background: #333333;
      color: #fff;
    }
  }

  &__term {
    color: var(--ion-color-medium);

    .highlighted {
      background: #808080;
      color: #333333;
    }
  }
}