<ion-header>
  <ion-toolbar>
    <ion-title>Vocabulary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="terms$ | async as terms; else noTerms">
    <ion-list class="vocab-list">
      <ion-item *ngFor="let term of terms$ | async" [ngSwitch]="term.type" class="vocab-item">

        <ng-container *ngSwitchCase="'name'">
          <ion-label class="ion-text-wrap">
            <div class="vocab-item__translation">{{ term.translation }} {{ term.gender ? '(' + term.gender.value + ')' : '' }}</div>
            <div class="vocab-item__term">{{ term.term }}</div>
          </ion-label>
          <ion-badge color="primary">{{term.type}}</ion-badge>
        </ng-container>

        <ng-container *ngSwitchCase="'verb'">
          <ion-label class="ion-text-wrap">
            <div class="vocab-item__translation">{{ term.translation }}</div>
            <div class="vocab-item__term">{{ term.term }}</div>
          </ion-label>
          <ion-badge color="secondary">{{term.type}}</ion-badge>
        </ng-container>

        <ng-container *ngSwitchCase="'preposition'">
          <ion-label class="ion-text-wrap">
            <div class="vocab-item__translation">{{ term.translation }}</div>
            <div class="vocab-item__term">{{ term.term }}</div>
          </ion-label>
          <ion-badge color="tertiary">{{term.type}}</ion-badge>
        </ng-container>

        <ng-container *ngSwitchCase="'adverb'">
          <ion-label class="ion-text-wrap">
            <div class="vocab-item__translation">{{ term.translation }}</div>
            <div class="vocab-item__term">{{ term.term }}</div>
          </ion-label>
          <ion-badge color="warning">{{term.type}}</ion-badge>
        </ng-container>

        <ng-container *ngSwitchCase="'expression'">
          <ion-label class="ion-text-wrap">
            <div class="vocab-item__translation">{{ term.translation }}</div>
            <div class="vocab-item__term">{{ term.term }}</div>
          </ion-label>
          <ion-badge color="medium">{{term.type}}</ion-badge>
        </ng-container>

      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noTerms>
    <p class="ion-text-center">No translations</p>
  </ng-template>

</ion-content>
