<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Vocabulary</ion-title>
    <ion-buttons slot="end" collapse="true">
      <memolang-new-term-button></memolang-new-term-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vocabulary</ion-title>
      <ion-buttons slot="primary">
        <memolang-new-term-button></memolang-new-term-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar debounce="300" (ionChange)="search($event)"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button (click)="sortList()" color="dark">Sort</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <ng-container *ngIf="terms$ | async as terms; else noTerms">
    <ion-list class="vocab-list" lines="full">

      <ion-item-divider sticky color="light">
        <ion-label>{{activeSort$ | async}}</ion-label>
      </ion-item-divider>

      <!-- SORTED BY LATEST -->
      <ng-container *ngIf="(activeSort$ | async) === sortTypes.Latest">
        <memolang-list-item
          [term]="term"
          [search]="searchInputValue"
          [routerLink]="['term', term.id]"
          *ngFor="let term of terms$ | async | sortTerms | filterBySearch:searchInputValue">
        </memolang-list-item>
      </ng-container>

      <!-- SORTED BY ALPHABETICAL ORDER -->
      <ng-container *ngIf="(activeSort$ | async) === sortTypes.Alphabetically">

        <ng-container *ngFor="let group of sortedTerms$ | async">
          <ion-list-header color="light">
            <ion-label>{{group.key}}</ion-label>
          </ion-list-header>

          <memolang-list-item
            [term]="term"
            [search]="searchInputValue"
            *ngFor="let term of group.terms | filterBySearch:searchInputValue">
          </memolang-list-item>
        </ng-container>

      </ng-container>
      
    </ion-list>
  </ng-container>

  <ng-template #noTerms>
    <p class="ion-text-center">No translations</p>
  </ng-template>

</ion-content>
