<ion-header>
  <ion-toolbar>
    <ion-title size="large">Dashboard</ion-title>
    <ion-buttons slot="end" collapse="true">
      <memolang-new-term-button></memolang-new-term-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
      <ion-buttons slot="primary">
        <memolang-new-term-button></memolang-new-term-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding-horizontal">
    <h3>Recently added</h3>
  </div>

  <ion-list lines="full">
    <memolang-list-item
      [term]="term"
      [showDate]="true"
      *ngFor="let term of latestTerms$ | async">
    </memolang-list-item>
  </ion-list>
</ion-content>
