<ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <memolang-new-term-button></memolang-new-term-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content class="dashboard">
  <div class="dashboard__quick-translate">
    <div class="ion-padding-horizontal ion-margin-bottom">
      <h3>Quick translate</h3>
    </div>

    <memolang-quick-translate></memolang-quick-translate>
  </div>

  <div class="dashboard__recently-added ion-padding-top">
    <div class="ion-padding-horizontal">
      <h3>Recently added</h3>
    </div>

    <ion-list lines="full">
      <memolang-list-item
        [term]="term"
        [showDate]="true"
        *ngFor="let term of latestTerms$ | async">
      </memolang-list-item>
    </ion-list>

  </div>
</ion-content>
